/* This is just to start things off until we have a set design theme for the entire project */


body {
    background-color: goldenrod;
}

h1{
    color: black;
    font-weight: bold;	
}

h2{
    color: black;
    font-weight: bold;
}

h3{
    color: black;
    font-style: italic;
}

p3{
    color:  black;
    font-weight: 600;
}

h4{
    color: darkslategray;
}

.button {
    font-weight: bold;
    text-align: center;
    font-size: auto;
    height: 2em;
    color: black;
}


