#DisplayName {
    color: black;
    text-align: right;
    font-weight: normal;
    font-size: medium;
    margin: 0 auto;
    padding: 1%;
}

#Display{
    resize: none;
    overflow: hidden;
    border: none;
    background: white;
    width: auto;
    height: 1em;
}
.table {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height:90%;
}

.button {
    width: 30%;
    padding: 10px;
    font-size: 40px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
}

.text {
    bottom: 0; 
    text-align: center;
}

#welcomeText {
    width: 30%;
    height: auto;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
}
