body {
    background: goldenrod;
}

#DisplayName {
    color: black;
    text-align: right;
    font-weight: normal;
    font-size: medium;
    margin: 0 auto;
    padding: 1%;
}

#Display{
    resize: none;
    overflow: hidden;
    border: none;
    background: goldenrod;
    width: auto;
    height: 1em;
}

.button {
    font-weight: bold;
    text-align: center;
    font-size: auto;
    height: 2em;
}

.table {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height:90%;
}

.Tbutton {
    width: 45%;
    height: auto;
    font-size: 4em;
    background-color: black;
    color: goldenrod;
}

.text {
    bottom: 0; 
    text-align: center;
}